<form action="/" method="post">
	<label for="plaintext">Plain text:</label>
<% if plaintext and key %>
	<input type="text" name="plaintext" id="plaintext" value="<%= plaintext %>">
	<label for="key">Key: </label>
	<input type="number" name="key" id="key" min="1" max="25" value="<%= key %>">
<% else %>
	<input type="text" name="plaintext" id="plaintext">
	<label for="key">Key:</label>
	<input type="number" name="key" id="key" min="1" max="25">
<% end %>
	<input type="submit">
</form>
<% if ciphertext %>
<p>Cipher text:</p>
<p><%= ciphertext %></p>
<p>inverse(K)=<%= 26 - key.to_i%></p>
<% end %>
